/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block.wp-block-pmpro-membership-card-block-pmpro-membership-card-block {
  background-color: var(--pmpro--color--base);
  border: 1px solid var(--pmpro--color--border--variation);
  border-radius: var(--pmpro--base--border-radius);
  box-shadow: var(--pmpro--box-shadow);
  display: flex;
  flex-direction: column;
  margin: var(--pmpro--base--spacing--medium) 0;
  overflow: hidden;
  padding:var(--pmpro--base--spacing--large);
}
